<h1> Edit User </h1>

<% if @user.errors.any? %>
<%= @user.errors.full_messages %>
<% end %>

<br>
<br>

<%= form_for @user do |f| %>
<div class="field">
  <%= f.label "Your username here:" %><br>
  <%= f.text_field :username, value: "Doggo" %><br><br>
</div>
<div class="field">
  <%= f.label :email %><br>
  <%= f.email_field :email, placeholder: "example@email.com" %><br><br>
</div>
<div class="field">
  <%= f.label :password %><br>
  <%= f.password_field :password %><br><br>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>